@font-face {
    font-family: "font";
    src: url(../font/ABeeZee-Regular.ttf);
}

@font-face {
    font-family: "roboto";
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: "nordic1";
    src: url(../font/Nordic Alternative Regular.ttf);
}
